.client {
  &__img{
    width: 100%;
    height: auto;
  }
  &__heading {
    font-size: 1.8vh;
    width: 100%;
    background-color: #d1e9f5;
    font-weight: bold;
    text-align: center;
  }
  &__div {
    background: #fff;
    margin-bottom: 20px;
    border: 1px solid dimgray;
    box-sizing: border-box;
  }
}

*{
  box-sizing: border-box;
}