.client {
  &_panel {
    margin: 1% 1.5%;
    background-color: white;
    border: 0;
  }
  &__div{
    padding: 20px 10px;
    border: solid 2px #F5F5F5;
  }
  &__img{
    width: 100%;
  }
}

.app {
  &_container {
    padding: 65px 0;
  }
}

* {
  box-sizing: border-box;
}