.product {
  &__img{
    width: 100%;
    height: auto;
  }
  &__img_div{
    width: 30%;
    height: auto;
    float: left;
  }
  &__desc{
    width: 100%;
    height: auto;
  }
  &__desc_div{
    width: 70%;
    height: auto;
    float: left;
    padding: 10px 5px;
  }
  &__heading {
    float: left;
    font-size: 1.2em;
    width: 100%;
    color: #31708f;
    font-weight: bold;
  }
  &__button{
    float: left;
    position: relative;
    margin: 10px 10px;
  }
  &__div {
    background: #efefef;
    margin-bottom: 20px;
    box-sizing: border-box;
    overflow:auto;
    display:block;
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }
}

*{
  box-sizing: border-box;
}