.product__img {
  width: 100%;
  height: auto; }

.product__img_div {
  width: 30%;
  height: auto;
  float: left; }

.product__desc {
  width: 100%;
  height: auto; }

.product__desc_div {
  width: 70%;
  height: auto;
  float: left;
  padding: 10px 5px; }

.product__heading {
  float: left;
  font-size: 1.2em;
  width: 100%;
  color: #31708f;
  font-weight: bold; }

.product__button {
  float: left;
  position: relative;
  margin: 10px 10px; }

.product__div {
  background: #efefef;
  margin-bottom: 20px;
  box-sizing: border-box;
  overflow: auto;
  display: block;
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

* {
  box-sizing: border-box; }
