@import "./colours";

a {
    text-decoration: none;
    color: $primary-color;
}

.button {
    background: #0099FF;
    border-radius: 3px;
    border: 0;
    padding: 10px;
    color: #FFF;
    cursor: pointer;
    text-decoration: none;
    &:hover {
        background: lighten(#0099FF, 20%);
    }
    &:disabled {
        opacity: 0.3;
        pointer-events: none;
    }
}
