.product_panel {
    margin: 1% 1.5%;
    background-color: white;
    border: 0;
    height: 85vh;
}
.product_div{
    height: 33vh;
}

.product_div__heading{
    font-size: 3vh;
    width: 100%;
    background-color: cornflowerblue;
    font-weight: bold;
    text-align: center;
}

.product_div__content{
    font-size: 2vh;
}

.product_button {
    float: right;
}

.app_container {
    padding: 65px 0;
}
