.productDetail {
  padding-top: 50px;
  padding-bottom: 71px;
  display: flex;
  flex-direction: column; }
  .productDetail__desc {
    order: 1;
    background-color: #edeced;
    height: 437px;
    padding: 0px 40px; }
    .productDetail__desc-item {
      padding: 5px 10px; }
      .productDetail__desc-item p {
        font-size: 12px;
        padding-left: 20px;
        border-left: 2px solid #ffa600; }
      .productDetail__desc-item img {
        width: 100%;
        height: auto; }
      .productDetail__desc-item button {
        margin: 50px 10px; }
  .productDetail__features {
    order: 1;
    height: 437px;
    padding: 5px 10px; }
    .productDetail__features-benefits p {
      font-size: 12px;
      padding-left: 20px;
      border-left: 2px solid #ffa600; }
    .productDetail__features-benefits img {
      width: auto;
      height: 300px;
      align-items: center; }
    .productDetail__features-configuration {
      display: flex;
      flex-direction: row; }
      .productDetail__features-configuration p {
        order: 1;
        font-size: 12px;
        padding-left: 20px; }
      .productDetail__features-configuration img {
        order: 2;
        width: auto;
        height: 200px;
        align-items: center; }
    .productDetail__features-tech .table {
      width: 50%; }
  .productDetail__support {
    order: 1;
    display: flex;
    flex-direction: row;
    width: 100%; }
    .productDetail__support-content {
      display: table-cell;
      padding: 30px 100px;
      min-height: 240px;
      color: #FFFFFF; }
    .productDetail__support-contactbox {
      order: 1;
      width: 33.33%;
      min-height: 200px;
      display: table-cell;
      background: #3A3A3A; }
      .productDetail__support-contactbox h3 {
        font-size: 24px;
        font-weight: lighter;
        padding: 0;
        line-height: normal; }
      .productDetail__support-contactbox h4 {
        font-size: 16px;
        font-weight: bold;
        float: left;
        width: 100%; }
      .productDetail__support-contactbox a {
        border: 1px solid rgba(255, 255, 255, 0.17);
        color: #ffffff;
        font-size: 13px;
        margin-top: 30px;
        padding: 10px 16px;
        float: left;
        position: relative; }
    .productDetail__support-cataloguebox {
      order: 1;
      width: 33.33%;
      min-height: 200px;
      display: table-cell;
      background-image: url("../../images/bg/fire.jpg"); }
      .productDetail__support-cataloguebox h3 {
        font-size: 24px;
        font-weight: lighter;
        padding: 0;
        line-height: normal; }
      .productDetail__support-cataloguebox h4 {
        font-size: 16px;
        font-weight: bold;
        float: left;
        width: 100%; }
      .productDetail__support-cataloguebox a {
        font-size: 13px;
        color: #FFFFFF;
        float: left;
        width: 100%;
        padding: 10px 0;
        position: relative;
        word-break: break-all; }
    .productDetail__support-downloadbox {
      order: 1;
      width: 33.33%;
      background: #0A4D4B;
      min-height: 200px;
      display: table-cell; }
      .productDetail__support-downloadbox h3 {
        font-size: 24px;
        font-weight: lighter;
        padding: 0;
        line-height: normal; }
      .productDetail__support-downloadbox h4 {
        font-size: 16px;
        font-weight: bold;
        float: left;
        width: 100%; }
      .productDetail__support-downloadbox a {
        float: left;
        width: 100%;
        position: relative;
        font-size: 13px;
        color: #03D5CE;
        padding-left: 15px;
        margin: 5px 0;
        word-break: break-all; }
